/* Slider Styles */
.OfferSlider .slider-container {
    margin-top: 50px;
    /* border: 1px solid green; */
}

.OfferSlider .slider-container .slider-item-offer {
    /* border: 1px solid yellow; */
    padding: 10px; /* Adjust the padding for spacing around the item */
    text-align: center;
    margin: 0 10px; /* Space between each slider item */
}

.OfferSlider .slider-container .slider-item-offer img {
    width: 100%; /* Ensure images take full width of the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Round the corners of the images */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow for effect */
    transition: transform 0.3s ease; /* Smooth hover transition */
}

.OfferSlider .slider-container .slider-item-offer img:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}

/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    max-height: 70%;
}

.modal-image {
    margin: 0 auto;
    width: 80%;
    height: 60%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #f0ad4e;
    /* background: #f0ad4e; */
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 10%;
    z-index: 1001;
}
