*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_container {
    margin: 0 auto;
    width: 100%;
    padding: 2rem;
  }

  a{
    text-decoration: none;
    color: #000;
  }
  ul{
    list-style: none;
  }


  :root{
    --gold_color:#d4b96a;
    --dark_gold_color:#b58e15;
    --dark_color:#2a2a2a;
    --white_color:#fff;
    --orange_color:#f0ad4e;
  }


  @media (min-width: 640px) {
    .main_container {
        max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .main_container {
        max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .main_container {
        max-width: 1024px;
    }
  }
  @media (min-width: 1280px) {
    .main_container {
        max-width: 1280px;
    }
  }
  @media (min-width: 1536px) {
    .main_container {
        max-width: 1536px;
    }
  }
  @media (min-width: 1800px) {
    .main_container {
        max-width: 80%;
    }
  }