

.about_us_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.46); /* Optional: Add a shadow for better visibility */
    width: 80%;
    margin: 100px auto;
    padding: 15px;
}
.AboutContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.PageHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.PageHeader h1{
    text-align: center;
}
.About_text{
    width: 500px;
}
.About_text p{
font-size: 20px;
}
.about_us_page video{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

@media(max-width:660px){
    .About_text{
        width: 100%;
    }
    .About_text p{
        font-size: 17px;
    }
}